<img src="honda_header.jpg" class="header-banner">

<ul>
	<li><%= link_to "Agenda", root_path %></li>
	<li><%= link_to "Inscription", inscription_path %></li>
	<li><%= link_to "Informations", informations_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>

<h6 class="contact-title">Pour toute requête concernant votre participation à cet évènement</h6></br>

<p class="contact">● Agence logistique</br> Envoyer un mail à <%= mail_to "contact@trajectoire2019honda.fr"%></p>

<p class="contact">● Honda Moto</br> Contactez votre chef de région Honda France ou Ludovic Devos au 01 60 37 33 15.</p>

<img src="honda_footer.jpg" class="header-banner">