<p id="notice"><%= notice %></p>

<p>
  <strong>Prenom:</strong>
  <%= @client.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @client.nom %>
</p>

<p>
  <strong>Civilité:</strong>
  <%= @client.civilité %>
</p>

<p>
  <strong>Sap code:</strong>
  <%= @client.sap_code %>
</p>

<p>
  <strong>Raison sociale:</strong>
  <%= @client.raison_sociale %>
</p>

<p>
  <strong>Fonction:</strong>
  <%= @client.fonction %>
</p>

<p>
  <strong>Participation:</strong>
  <%= @client.participation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @client.numero %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @client.transport %>
</p>

<p>
  <strong>Aller depart:</strong>
  <%= @client.aller_depart %>
</p>

<p>
  <strong>Aller arrivee:</strong>
  <%= @client.aller_arrivee %>
</p>

<p>
  <strong>Aller numero flight:</strong>
  <%= @client.aller_numero_flight %>
</p>

<p>
  <strong>Aller horaire arrivee:</strong>
  <%= @client.aller_horaire_arrivee %>
</p>

<p>
  <strong>Retour depart:</strong>
  <%= @client.retour_depart %>
</p>

<p>
  <strong>Retour arrivee:</strong>
  <%= @client.retour_arrivee %>
</p>

<p>
  <strong>Retour numero flight:</strong>
  <%= @client.retour_numero_flight %>
</p>

<p>
  <strong>Retour horaire depart:</strong>
  <%= @client.retour_horaire_depart %>
</p>

<p>
  <strong>Navette bus:</strong>
  <%= @client.navette_bus %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @client.parking %>
</p>

<p>
  <strong>Parking palce:</strong>
  <%= @client.parking_palce %>
</p>

<p>
  <strong>Herbergement:</strong>
  <%= @client.herbergement %>
</p>

<p>
  <strong>Regime:</strong>
  <%= @client.regime %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @client.observations %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
